﻿@page "/joueurs"
@using FormationDotnetSNCF.Services;

@inject JoueurService JoueurService

<h3>Liste des joueurs</h3>

<ul>
    @foreach (var joueur in JoueurService.GetAllJoueurs())
    {
        <li>@joueur.Nom, @joueur.Prenom</li>
    }
</ul>

@code{




}
